name: test
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '1.22.0' # The Go version to download (if necessary) and use.
    - run: go test -race ./...
